.orders-container {
  margin: 0px 180px;
  display: block;
  color: white;

  .orders-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1200px) {
  .getPizza-container {
    margin: 100px 50px;
  }
}
