.hero-container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("../../images/backgroud.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;

  .hero-content {
    margin: 125px 125px;

    h1 {
      color: white;
    }

    p {
      color: #fff;
      font-size: 22px;
    }

    strong {
      color: orange;
    }
  }
}
