.header-container {
  margin: 0;
  padding: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;

  h1 {
    font-size: clamp(1.5rem, 10vw, 3rem);
    margin-bottom: 1rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
  }
}
