nav {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  // bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);

  a {
    display: flex;
    background: transparent;
    color: grey;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 50%;

    // align-items: center;
    // cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }

    .active {
      background: rgba(118, 117, 117, 0.6);
      color: #fff;
    }
  }
}
