.app-container {
  //   text-align: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(./images/background.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}
