form {
  margin-top: 0;
  padding: 0;
  width: 100%;

  .error {
    margin-left: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: red;
  }

  label {
    display: block;
    margin: 10px;
    margin-left: 15px;
    color: white;

    span {
      display: block;
      font-size: 16px;
    }

    input {
      font-size: 18px;
      padding: 3px;
      border-radius: 5px;
      border-color: lightgray;
      color: rgb(90, 90, 90);
    }

    .data-input {
      width: 30%;
      font-size: 16px;
      padding: 3px;
      border-radius: 6px;
      border-color: lightgray;
      //   color: white;
    }

    select {
      width: 20%;
      font-size: 16px;
      padding: 3px;
      border-radius: 6px;
      border-color: lightgray;
      color: rgb(90, 90, 90);
    }
  }

  button {
    display: block;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 14px;

    &:hover {
      background-color: #e08505;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
  }
}
.success-submit {
  padding: 50px 0;
  text-align: center;
  margin: 60px;
  background: rgba(0, 0, 0, 0.5);
  height: 100px;

  strong {
    font-size: 32px;
    color: orange;
  }
}
