.home-container {
  margin: 125px 125px;

  h1 {
    font-size: clamp(1.5rem, 10vw, 3rem);
    margin-bottom: 1rem;
    box-shadow: 0px 5px #e9ba23;
    letter-spacing: 3px;
    color: white;
  }

  p {
    color: #fff;
    // font-size: 22px;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin-bottom: 1rem;
  }

  strong {
    color: orange;
  }
}

@media screen and (max-width: 600px) {
  .home-container {
    margin: 100px 50px;
  }
}
