.not-found-pages {
  margin: 120px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  height: 130px;
  h1 {
    padding: 5px;
    color: orange;
  }
  p {
    padding: 5px;
    color: white;
  }
}
